@page "/dangky"
@using MilkTea.Services.UserServices
@using MilkTeaWeb.ViewModels
@inject NavigationManager Navigation
@inject IUserService UserService
@rendermode InteractiveServer

<h3>Đăng Ký</h3>

<EditForm Model="registerModel" OnValidSubmit="HandleRegister" FormName="RegisterForm">
    <DataAnnotationsValidator />

    <div>
        <label>Tên đăng nhập</label>
        <InputText @bind-Value="registerModel.Username" class="form-control" />
        <ValidationMessage For="() => registerModel.Username" />
    </div>

    <div>
        <label>Mật khẩu</label>
        <InputText @bind-Value="registerModel.Password" Type="password" class="form-control" />
        <ValidationMessage For="() => registerModel.Password" />
    </div>

    <div>
        <label>Xác nhận mật khẩu</label>
        <InputText @bind-Value="registerModel.ConfirmPassword" Type="password" class="form-control" />
        <ValidationMessage For="() => registerModel.ConfirmPassword" />
    </div>

    <div>
        <label>Họ và tên</label>
        <InputText @bind-Value="registerModel.FullName" class="form-control" />
        <ValidationMessage For="() => registerModel.FullName" />
    </div>

    <div>
        <label>Số điện thoại</label>
        <InputText @bind-Value="registerModel.PhoneNumber" class="form-control" />
        <ValidationMessage For="() => registerModel.PhoneNumber" />
    </div>

    <div>
        <label>Địa chỉ giao hàng</label>
        <InputText @bind-Value="registerModel.ShippingAddress" class="form-control" />
        <ValidationMessage For="() => registerModel.ShippingAddress" />
    </div>

    <button type="submit" class="btn btn-success">Đăng ký</button>
    <button type="button" class="btn btn-secondary" @onclick="NavigateToLogin">Hủy</button>

    @if (!string.IsNullOrEmpty(registerMessage))
    {
        <p class="text-danger">@registerMessage</p>
    }
</EditForm>

@code {
    private RegisterViewModel registerModel = new RegisterViewModel();
    private string? registerMessage;

    private async Task HandleRegister()
    {

        var result = await UserService.RegisterUserAsync(registerModel);
        if (result == "Đăng ký thành công")
        {
            Navigation.NavigateTo("/dangnhap");
        }
        else
        {
            registerMessage = result;
        }
    }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }
}