@page
@model MilkTeaAdminWeb.Pages.Users.ChangePasswordModel

@{
	ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<hr />

<form method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<input type="hidden" asp-for="PasswordViewModel.UserId" />

	<!-- Password -->
	<div class="form-group">
		<label class="control-label">Mật Khẩu Mới</label>
		<input asp-for="PasswordViewModel.Password" type="password" class="form-control" />
		<span asp-validation-for="PasswordViewModel.Password" class="text-danger"></span>
	</div>

	<!-- Confirm Password -->
	<div class="form-group">
		<label class="control-label">Mật Khẩu</label>
		<input asp-for="PasswordViewModel.ConfirmPassword" type="password" class="form-control" />
		<span asp-validation-for="PasswordViewModel.ConfirmPassword" class="text-danger"></span>
	</div>

	<!-- Submit Button -->
	<div class="form-group">
		<input type="submit" value="Change Password" class="btn btn-primary" />
	</div>
</form>

<br />
<div>
	<a asp-page="/Users/Index" class="btn btn-secondary">Back to Users List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
